body{
    margin: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    background-image: url(assets/background_hero.png);
    z-index: -2;
    font-family: 'Jost', sans-serif;
    
}

.aboutbg{

 background-image: url(assets/BG_VN.png);


}



.section{
    height: 100vh;
    margin-left: 150px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    
    
    

    
   

}
a{
    text-decoration: none;
    color: white;;
    
}
.links{
    display: flex;
    gap: 20px;
}

.nav img{
    width: 85px;
}

#facebookIcon{
    width: 30px;
}
#KmWorkzLogo{
    width: 300px;
    margin-bottom: 0;
    margin-left: -50px;
}
#title{
    font-size: 40px;
    margin: 0;
}
.description{
    margin-top: 15px;
    font-size: 30px;
    width: 400px;
    font-weight: 500;
    line-height: 45px;
}
#content{
    height: 100vh;
}
.container{
    display: flex;
    gap: 20px;
}
.buttons{
    border-radius: 2rem;
    border: 1px;
    padding: 14px 40px;
    font-size: 18px;    
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}
#contacts{
    color: white;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

.card{
    background-color: rgba(44, 44, 44, 0.479);
    width: 700px;
    padding: 39px;
    display: flex;
}

#Founder{
    border-radius: 2rem;
    border-style: solid;
    width: 300px;
}

.containerAbout{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    padding-left: 10px;
    margin: 1;
    line-height: 30px;
}
#discFounder{
    font-size: 18px;
}
#aboutLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutLogo img{
    width: 250px;
    padding: 50px;
}





.contactC {
    display: flex;
    justify-content: center;
    
}

.contactContainer {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    background-color: rgba(44, 44, 44, 0.479);
    justify-content: center;
    
   
}


.Map img {
    width: 450px;
    height: 350px;
    padding: 10px;
    margin-top: -30px;
    

}

.Map h2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
}

.info-box {
    max-width: 450px;
}

.info-box h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
}

/* Info Items */
.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.icon {
    width: 77px;
    height: 77px;
    margin-right: 20px;
    border-end-start-radius: 20%;
}

.info-item p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}



