<<<<<<< HEAD


*{
font-family:"Monaco", monospace;
}



.logonav img {
    
    position: fixed;
    top: 0;

}


.navtabs ul {
    list-style-type: none;

    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    position: relative;
    bottom: 100px;
    left: 800px;  
    position: fixed;
    top: 0;
=======
body{
    margin: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
>>>>>>> 19bff90f1ffd7cea5c82ef18e690bc0feaaa0a71
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    background-image: url(assets/background_hero.png);
    z-index: -2;
    font-family: 'Jost', sans-serif;
}

.section{
    height: 100vh;
    margin-left: 150px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    z-index: 99;

}
a{
    text-decoration: none;
    color: white;;
    
}
.links{
    display: flex;
    gap: 20px;
}
<<<<<<< HEAD
#hero h1 {
    color: white;
    text-align: left;
    font-size: 50px;
    position: relative;
    bottom: 80px;
    margin-left: 20px;
} 
#hero p {
    color: white;
    text-align: left;
    font-size: 30px;
    position: relative;
    bottom: 80px;
    text-wrap: balance;
    margin-left: 20px;
  
} 

#services_button {
    position: relative;
    bottom: 80px;
    left: 50px;
    width: 150px;
    height:50px;
    color: black;
    background-color: white;
    border-radius: 25px;
    font-size: 20px;

=======

.nav img{
    width: 85px;
}

#facebookIcon{
    width: 30px;
}
#KmWorkzLogo{
    width: 300px;
    margin-bottom: 0;
    margin-left: -50px;
}
#title{
    font-size: 40px;
    margin: 0;
}
.description{
    margin-top: 15px;
    font-size: 30px;
    width: 400px;
    font-weight: 500;
    line-height: 45px;
}
#content{
    height: 100vh;
}
.container{
    display: flex;
    gap: 20px;
}
.buttons{
    border-radius: 2rem;
    border: 1px;
    padding: 14px 40px;
    font-size: 18px;    
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}
#contacts{
    color: white;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 2px;
>>>>>>> 19bff90f1ffd7cea5c82ef18e690bc0feaaa0a71
}

.card{
    background-color: rgba(44, 44, 44, 0.479);
    width: 700px;
    padding: 39px;
    display: flex;
}

#Founder{
    border-radius: 2rem;
    border-style: solid;
    width: 300px;
}
.containerAbout{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    padding-left: 10px;
    margin: 1;
    line-height: 30px;
}
#discFounder{
    font-size: 18px;
}
#aboutLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutLogo img{
    width: 250px;
    padding: 50px;
}